.container{
    max-width: 1000px;
}

/*HEADER */
header{
    background-color: #BC85A3;
    height: 550px;
    position: relative;
}


/*BOTON DE REGISTRO */
.btn{
    background-color: #4F81D6;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}


/*DISEÑO DE PARTICIPA DEL EVENTOsregistrate ahora!*/
.title{
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*LOGO VIRBELA MENU*/
.logo{
    width: 120px;
}

/*ROW CURSOS*/
#row-evento{
    background-color: #BC85A3;
}

.row{
    margin: 0;
}

#row-evento img{
    border-radius: 50%;
    width: 350px;
    height: 250px;
}


/*FONDO NOSOTROS*/
#row-nosotros{
    background-color: #BC85A3;
    padding-top: 100px !important;
    padding-bottom: 100px !important;

}

#row-nosotros img{
    border-radius: 50%;
    width: 300px;
}

.title-color{
    color: white;
    font-weight: bold;
}

/*p que esta dentro de rowNosotros*/
#row-nosotros p{
    font-size: 14px;
}


.form-control{
    border-radius: 50px;
}


/*FONDO FOOTER*/
footer{
    background-color:  #DAA0C8;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}


footer a{
    text-decoration: none;
    color:white;
}


  #row-formulario{
    background-color: #BC85A3;
  }


/*Menu al reducir pantalla*/
@media(max-width:982px){
    .navbar-nav{
        background-color: #4F81D6;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 20px;
    }

    #label {
        position: relative;
        margin-top: 250px !important;
        right: 20px;
        font-size: 3em;
        cursor: pointer;
      }
}

nav{
    z-index: 100;

}



/*DARK MODE*/
.oscuro header {
    background-color: #943B7A;
  }


.oscuro #row-evento{
    background-color: #943B7A;
}

.oscuro #row-nosotros{
    background-color: #943B7A;
}

.oscuro footer{
    background-color:  #B266B2;
}

.oscuro  #row-formulario{
    background-color: #943B7A;
  }



/*POSICIONAMIENTO MODO NOCTURNO Y DE DIA*/
  #label {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: rgb(16, 121, 207);
    cursor: pointer;
  }
  #toggle {
    display: none;
  }

  

  